@font-face {
  font-family: 'Suisse';
  src: url('../fonts/SuisseIntl-Book.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ByGrace';
  src: url('../fonts/CoveredByYourGrace.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PetitFormal';
  src: url('../fonts/PetitFormalScript-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
