@font-face {
  font-family: 'Suisse';
  src: url('../../public/fonts/SuisseIntl-Book.woff2') format('woff2'),
    url('../../public/fonts/SuisseIntl-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ByGrace';
  src: url('../../public/fonts/CoveredByYourGrace.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('../../public/fonts/Anton-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../../public/fonts/BebasNeue-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PetitFormal';
  src: url('../../public/fonts/PetitFormalScript-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
