.cm_nav {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: toRem(40) 0 toRem(40);
  @include grid;

  &-wrapper {
    width: 90%;
    max-width: 1250px;
    height: 100%;
    @include flex(space-between, center);

    & span {
      color: #05ff00;
    }

    & h1 {
      @extend %title-24;
      font-family: 'ByGrace', sans-serif;
      color: #fff;
    }

    & button {
      @extend %body-16-bold;
      font-family: 'Anton', sans-serif;
      text-transform: capitalize;
      letter-spacing: 0.2px;
      cursor: pointer;
      color: #fff;
    }
  }
}
